{% extends 'base.html.twig' %}

{% block title %}Soutenance{% endblock %}

{% block body %}
    <h1>Soutenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soutenance.id }}</td>
            </tr>
            <tr>
                <th>President</th>
                <td>{{ soutenance.president }}</td>
            </tr>
            <tr>
                <th>Date_soutenance</th>
                <td>{{ soutenance.dateSoutenance ? soutenance.dateSoutenance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ soutenance.salle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soutenance_crud_index') }}">back to list</a>

    <a href="{{ path('soutenance_crud_edit', {'id': soutenance.id}) }}">edit</a>

    {{ include('soutenance_crud/_delete_form.html.twig') }}
{% endblock %}
