{% extends 'base.html.twig' %}

{% block title %}Plan de Travail {% endblock %}

{% block body %}
    <h1>Plan de travail </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Backlog</th>
                <th>Sprints</th>
                <th>Validation</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan_travail in plan_travails %}
            <tr>
                <td>{{ plan_travail.id }}</td>
                <td>{{ plan_travail.backlog }}</td>
                <td>{{ plan_travail.sprints }}</td>
                <td>{{ plan_travail.validation }}</td>

                <td>
                    <a href="{{ path('plan_travail_show', {'id': plan_travail.id}) }}">show</a>
                    <a href="{{ path('plan_travail_edit', {'id': plan_travail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plan_travail_new') }}">Create new</a>
{% endblock %}
