{{ form_start(form) }}
<table class="table">
    <tbody>
    <tr>
        <th>
            <label for="">Question</label>
        </th>
        <td>
            {{ form_widget(form.quest) }}
        </td>
    </tr>
    <tr>
        <th>
            <label for="">Index Periode</label>
        </th>
        <td>
            {{ form_widget(form.IndexPeriode) }}
        </td>
    </tr>
    </tbody>
</table>


{{ form_widget(form) }}
<button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
