{% for evaluation in evaluations %}
    <tr>
        <td>{{ evaluation.id }}</td>


        <td>{{ evaluation.getIdEncEntreprise().getUserName() }}</td>
        <td>{{ evaluation.getEvalEtudiant().getUserName() }}</td>

        <td>{{ evaluation.dateremp ? evaluation.dateremp|date('Y-m-d') : '' }}</td>

        <td>
            <a href="{{ path('evaluation_show', {'id': evaluation.id}) }}" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i>
            </a>
            <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
    </tr>

{% endfor %}